imageio==2.36.1
imutils==0.5.4
joblib==1.4.2
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.1
opencv-contrib-python==4.10.0.84
packaging==24.2
pillow==11.1.0
scikit-image==0.25.0
scikit-learn==1.6.1
scipy==1.15.1
threadpoolctl==3.5.0
tifffile==2025.1.10
